.button {
	display: inline-block;
	padding: 10px;
	text-align: center;
	background-color: var(--main);
	border: 2px solid var(--main);
	border-radius: 30px;
	cursor: pointer;
	transition: background-color var(--duration) ease-in-out,
		border-color var(--duration) ease-in-out;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 35%);
}

.button:hover {
	border-color: var(--hover);
}

.button:active {
	border-color: var(--hover);
	transform: scale(0.99);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 35%);
}

.button::placeholder {
	transition: color var(--duration);
	color: var(--gray);
}

.button:hover::placeholder {
	color: var(--gray-hover);
}
